.section {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.sec1 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-image: url(https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
}

.sec2 {
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sec3 {
  color: #000;
}

.list-heading {
  font-size: 32px;
}

.colleges-heading {
  margin-bottom: 20px;
  font-size: 80px;
  padding-bottom: 10px;
}

.colleges-paragraph {
  font-size: 40px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.search-bar label {
  width: 100%;
  max-width: 300px;
}

.search-bar input {
  width: 100%;
  display: flex;
  padding: 15px;
  background-color: white;
  border: 2px solid black;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  height: 58px;
  transform: skew(-3deg, 1deg);
  font-family: 'Knewave', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.search-bar input:focus,
.search-bar input:valid {
  outline: none;
}

.search-bar input:focus ~ ul li:nth-child(1)::before,
.search-bar input:valid ~ ul li:nth-child(1)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}

.search-bar input:focus ~ ul li:nth-child(1)::after,
.search-bar input:valid ~ ul li:nth-child(1)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}

.search-bar input:focus ~ ul li:nth-child(2)::before,
.search-bar input:valid ~ ul li:nth-child(2)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}

.search-bar input:focus ~ ul li:nth-child(2)::after,
.search-bar input:valid ~ ul li:nth-child(2)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}

.search-bar input:focus ~ ul li:nth-child(3)::before,
.search-bar input:valid ~ ul li:nth-child(3)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}

.search-bar input:focus ~ ul li:nth-child(3)::after,
.search-bar input:valid ~ ul li:nth-child(3)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}

.search-bar input:focus ~ ul li:nth-child(4)::before,
.search-bar input:valid ~ ul li:nth-child(4)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}

.search-bar input:focus ~ ul li:nth-child(4)::after,
.search-bar input:valid ~ ul li:nth-child(4)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}

.search-bar input:focus ~ ul li:nth-child(5)::before,
.search-bar input:valid ~ ul li:nth-child(5)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}

.search-bar input:focus ~ ul li:nth-child(5)::after,
.search-bar input:valid ~ ul li:nth-child(5)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}

.search-bar input:focus ~ ul li:nth-child(6)::before,
.search-bar input:valid ~ ul li:nth-child(6)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}

.search-bar input:focus ~ ul li:nth-child(6)::after,
.search-bar input:valid ~ ul li:nth-child(6)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}

.search-bar input:focus ~ ul li:nth-child(1)::after,
.search-bar input:valid ~ ul li:nth-child(1)::after {
  transition-delay: 400ms;
}

.search-bar input:focus ~ ul li:nth-child(2)::after,
.search-bar input:valid ~ ul li:nth-child(2)::after {
  transition-delay: 600ms;
}

.search-bar input:focus ~ ul li:nth-child(3)::after,
.search-bar input:valid ~ ul li:nth-child(3)::after {
  transition-delay: 800ms;
}

.search-bar input:focus ~ ul li:nth-child(4)::after,
.search-bar input:valid ~ ul li:nth-child(4)::after {
  transition-delay: 1000ms;
}

.search-bar input:focus ~ ul li:nth-child(5)::after,
.search-bar input:valid ~ ul li:nth-child(5)::after {
  transition-delay: 1200ms;
}

.search-bar input:focus ~ ul li:nth-child(6)::after,
.search-bar input:valid ~ ul li:nth-child(6)::after {
  transition-delay: 1400ms;
}

.search-bar label {
  position: relative;
}

.search-bar ul {
  position: absolute;
  top: 38px;
  left: -4px;
  margin: 0;
  list-style: none;
  padding-left: 22px;
  position: absolute;
  display: flex;
  pointer-events: none;
  transition: 200ms;
}

.search-bar ul li {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: transparent;
  pointer-events: none;
  transition: 500ms ease-in-out;
}

.search-bar ul li ::selection {
  color: transparent;
}

.search-bar ul li::after,
.search-bar ul li::before {
  color: black;
  position: absolute;
  transition: 500ms ease-in-out;
}

.search-bar ul li::before {
  top: -20px;
}

.search-bar ul li::after {
  top: -63px;
  transform: scale(0) rotate(210deg);
  filter: blur(20px);
}

.search-bar ul li[s]::before {
  content: attr(s) "s";
  transition-delay: 200ms;
}

.search-bar ul li[s]::after {
  content: attr(s) "s";
  left: 12px;
  color: #666;
}

.search-bar ul li[e]::before {
  content: attr(e) "e";
  transition-delay: 400ms;
}

.search-bar ul li[e]::after {
  content: attr(e) "e";
  left: 24px;
  color: #666;
}

.search-bar ul li[a]::before {
  content: attr(a) "a";
  transition-delay: 600ms;
}

.search-bar ul li[a]::after {
  content: attr(a) "a";
  left: 36px;
  color: #666;
}

.search-bar ul li[r]::before {
  content: attr(r) "r";
  transition-delay: 800ms;
}

.search-bar ul li[r]::after {
  content: attr(r) "r";
  left: 48px;
  color: #666;
}

.search-bar ul li[c]::before {
  content: attr(c) "c";
  transition-delay: 1000ms;
}

.search-bar ul li[c]::after {
  content: attr(c) "c";
  left: 60px;
  color: #666;
}

.search-bar ul li[h]::before {
  content: attr(h) "h";
  transition-delay: 1200ms;
}

.search-bar ul li[h]::after {
  content: attr(h) "h";
  left: 72px;
  color: #666;
}

#college-list {
  list-style: none;
  padding: 0;
  background-color: transparent;
  margin-left: 15px;
}

#college-list li {
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-size: 18px;
  position: relative;
}

#college-list li::before {
  content: '';
  background-image: url('arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 18px;
  height: 18px;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  object-fit: cover;
}

.college-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: cover;
}

#college-list li a {
  text-decoration: none;
  color: #333;
}

#college-list li a:hover {
  font-weight: bold;
}

.error-message {
  color: red;
  font-style: italic;
}
